<div ng-if-start=node.type=='element' class=web-editor-element-tag ng-click=$webEditor.selection=$modelValue;>
	<span>{{node.name}}</span>
	<li ng-repeat="a in node.attribute">{{a.name}}={{a.value}}</li>
</div>
<ol ng-if-end ui-tree-nodes ng-model="node.child">
	<li ui-tree-node ng-class={selected:selection==$modelValue} ng-repeat="node in node.child" ng-include="'web-editor.node.html'" type={{node.type}}></li>
</ol>
<pre ng-if=node.type=='text'&&node.value.trim() class=web-editor-text ng-click=$webEditor.selection=$modelValue;>{{node.value}}</pre>
<div ng-if=node.type=='comment' class=web-editor-element-tag ng-click=$webEditor.selection=$modelValue;>{{node.data}}</div>
<div ng-if=node.type=='doctype' class=web-editor-element-tag ng-click=$webEditor.selection=$modelValue;><span>doctype</span> {{node.name}}</div>
