.angular-ui-tree-placeholder {
	min-height: 0;
	margin: 0;
	background: lightgray;
}

.angular-ui-tree-node {
	min-height: 0;
}

.web-editor-element-tag > li {
	display: inline;
	margin-left: .2em;
	margin-right: .2em;
}

.angular-ui-tree-node.selected > .web-editor-element-tag,
.angular-ui-tree-node.selected > .web-editor-text {
	background-color: lightgray;
}
